html {
    background: url(../images/bg-flat.png)center center fixed;
    background-size: cover;
}
body {
    font: 16px 'Raleway', sans-serif;
}
h1 {
    font-weight: 400;
    text-align: center;
    color: #1565c0;
    margin: 48px 0 10px 0;
}
ul {
    width: 600px;
    margin: 10px auto;
    box-shadow: 0 2px 3px #333;
}
ul {
    list-style-type: none;
    padding: 0;
    background: #e0f2f1;
}
li {
    line-height: normal;
    margin-bottom: 1px;
    background: #b2dfdb;
    padding-left: 10px;
    color: #00695c;
}
.twitter,
.linkedin,
.google {
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    padding-top: 2px;
}
.twitter:before {
    content: url(../images/1426196376_697029-twitter-64.png);
    vertical-align: -25px;
}
.linkedin:before {
    content: url(../images/1426196467_697071-linkedin-64.png);
    vertical-align: -25px;
}
.google:before {
    content: url(../images/1426196399_697064-googleplus-64.png);
    vertical-align: -25px;
}
li:nth-child(4n+1) {
    /*odd correspond à n2+1 et even à 2n*/
    
    background: #80cbc4;
    font-size: x-large;
    line-height: 45px;
    cursor: default;
}
li.twitter:hover,
li.linkedin:hover,
li.google:hover {
    opacity: 0.7;
    cursor: pointer;
}
li+li+li+li+li {
    /*Sélecteur adjacent*/
    
    color: #fff;
}